{% extends 'base.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="font-lm-title mb-4">Garage</h1>
        {% if vehicles|length > 0 %}
            <div class="row">
                {% set totalPrice = 0 %}
                {% for vehicle in vehicles %}
                    {% set totalPrice = totalPrice + vehicle.pricePerDay %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('images/vehicles/ferrari488gtb.jpg') }}" class="card-img-top" alt="{{ vehicle.brand.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ vehicle.brand.name }} {% for model in vehicle.brand.model %} {{ model.name }} {% endfor %}</h5>
                                <p class="card-text">Matricula: {{ vehicle.plate }}</p>
                                <p class="card-text">Precio: {{ vehicle.pricePerDay }} € / dia</p>
                                <p>Fecha seleccionada: {{ selectedDate }}</p>
                                <a href="{{ path('app_garage_delete_vehicle', {'id': vehicle.id})  }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <h3 class="my-4">
                    Total: {{ totalPrice | number_format(2, ',', '.') }}€
                </h3>
                <a href="{{ path('app_catalogue_index') }}" class="btn btn-primary mx-2">Volver al catálogo</a>
                <a href="{{ path('app_checkout') }}" class="btn btn-primary">Realizar Pedido</a>
            </div>
        {% else %}
            <p>No hay vehículos en tu carrito.</p>
        {% endif %}
    </div>
{% endblock %}
