{% extends 'base.html.twig' %}

{% block title %}Garaje{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="font-lm-title mb-4">Garaje</h1>
        {% if vehicles|length > 0 %}
            <div class="row">
                {% set totalPrice = 0 %}
                {% for vehicle in vehicles %}
                    {% set totalPrice = totalPrice + vehicle.pricePerDay %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('images/vehicles/hola/' ~ vehicle.brand.name ~ '_' ~ vehicle.model.name ~ '.jpg') }}"
                                 class="card-img-top img-fluid" alt="{{ vehicle.brand.name }} {{ vehicle.model.name }}">
                            <div class="card-body">
                                <h5 class="card-title font-lm-title fs-2 text-center">{{ vehicle.brand.name }} {{ vehicle.model.name }}</h5>
                                <p class="card-text font-lm-text fs-6 text-center">Matricula: {{ vehicle.plate }}</p>
                                <p class="card-text font-lm-text fs-6 text-center">Precio: {{ vehicle.pricePerDay }} € / dia</p>
                                <p class="card-text font-lm-text fs-6 text-center">Fecha seleccionada: {{ selectedDate }}</p>
                                <a href="{{ path('app_garage_delete_vehicle', {'id': vehicle.id}) }}"
                                   class="btn btn-danger w-100"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <h3 class="my-4">
                    Total: {{ totalPrice | number_format(2, ',', '.') }}€
                </h3>
                <button type="button" class="btn btn-primary font-lm-text" data-bs-toggle="modal" data-bs-target="#paymentModal">
                    <i class="bi bi-credit-card"></i> Añadir tarjeta
                </button>
                <a href="{{ path('app_garage_checkout') }}" class="btn bg-tertiary-lm btn-normal-hover mx-2 font-lm-text"><i class="bi bi-cart-check"></i> Reserva</a>
            </div>
        {% else %}
            <p>No hay vehículos en tu carrito.</p>
        {% endif %}
        <hr class="my-3">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Detalles de Pago</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'payment_details/index.html.twig' with { 'form': form } %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
