{% extends 'base.html.twig' %}

{% block title %}Inici de sessió{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center">
                <div class="border border-black border-opacity-25 p-3 rounded-2 d-flex flex-column align-items-center">
                    <h2>Iniciar sesión</h2>
                    <form method="post" action="{{ path('app_login') }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Usuario"
                                   name="_username">
                            <label for="username">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInput" placeholder="Contraseña"
                                   name="_password">
                            <label for="password">Contraseña</label>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <button class="btn btn-primary mt-3" type="submit">Iniciar sesión</button>
                    </form>
                    <p class="pt-3"><a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="">Registrate
                            aquí</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" data-controller="customer-register">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro</h1>
                    <div class="row">
                        <div class="modal-body">
                            <!-- Mirar el formulari ja que em dona el següent error: The key "_username" must be a string, "NULL" given.
                            Pot ser siga per culpa del modal? O per que he de utilizar les etiquetas normals de HTML? -->
                            {{ form_start(formCustomer, {'method': 'POST'}) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.name, 'Nombre') }}
                                    {{ form_widget(formCustomer.name, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.lastname, 'Apellido') }}
                                    {{ form_widget(formCustomer.lastname, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.email, 'Correo electrónico') }}
                                    {{ form_widget(formCustomer.email, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.phone, 'Teléfono') }}
                                    {{ form_widget(formCustomer.phone, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.address, 'Dirección') }}
                                    {{ form_widget(formCustomer.address, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.dni, 'DNI') }}
                                    {{ form_widget(formCustomer.dni, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                            </div>
                            {# <div class="row">
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.login.username, 'Nombre de Usuario') }}
                                    {{ form_widget(formCustomer.login.username, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(formCustomer.login.password, 'Contraseña') }}
                                    {{ form_widget(formCustomer.login.password, {'attr': {'class': 'form-control my-2'}}) }}
                                </div>
                            </div> #}
                            <div class="row">
                                <div class="col-12 my-2">
                                    <button class="btn btn-success" type="submit">Registrar</button>
                                </div>
                            </div>
                            {{ form_end(formCustomer) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
