{% extends 'base.html.twig' %}

{% block title %}
    {{ vehicle.brand.name }}
    {% for model in vehicle.brand.models %}
        {{ model.name }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">{{ vehicle.brand.name }} {% for model in vehicle.brand.models %} {{ model.name }} {% endfor %}</h1>
                <p class="lead">
                    Este {{ vehicle.brand.name }} {% for model in vehicle.brand.models %} {{ model.name }} del año {{ model.year }} {% endfor %}
                    tiene un
                    motor {{ vehicle.engine }} con una potencia de {{ vehicle.power }} CV. Cuenta con una aceleración de
                    0 a 100 km/h en {{ vehicle.acceleration }} segundos y un consumo de {{ vehicle.consumption }} litros
                    por cada 100 km. Está disponible en color {{ vehicle.color }} y tiene {{ vehicle.doors }} puertas.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('images/vehicles/ferrariTestarossa.jpg') }}" class="img-fluid"
                     alt="Imagen del Coche">
            </div>
        </div>
    </div>

    <div class="container mt-5" id="specifications">
        <h2>Especificaciones Técnicas</h2>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Motor</th>
                <td>{{ vehicle.engine }}</td>
            </tr>
            <tr>
                <th scope="row">Potencia</th>
                <td>{{ vehicle.power }} CV</td>
            </tr>
            <tr>
                <th scope="row">Transmisión</th>
                <td>{{ vehicle.transmission }}</td>
            </tr>
            <tr>
                <th scope="row">Consumo</th>
                <td>{{ vehicle.consumption }} L/100km</td>
            </tr>
            <tr>
                <th scope="row">Aceleración 0-100 km/h</th>
                <td>{{ vehicle.acceleration }} segundos</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
