{% extends 'base.html.twig' %}

{% block title %}
    {{ vehicle.brand.name }} {{ vehicle.model.name }}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">{{ vehicle.brand.name }} {{ vehicle.model.name }}</h1>
                <p class="lead">
                    Este {{ vehicle.brand.name }} {{ vehicle.model.name }} del año {{ vehicle.model.year }}
                    con la matricula {{ vehicle.plate }} tiene un motor {{ vehicle.engine }} con una potencia de {{ vehicle.power }} CV. Cuenta con una aceleración de
                    0 a 100 km/h en {{ vehicle.acceleration }} segundos y un consumo de {{ vehicle.consumption }} litros por cada 100 km.
                    Está disponible en color {{ vehicle.color }}.
                </p>
                <h2 class="font-lm-title">Reservas</h2>
                {% if vehicle.reservations is not empty %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha de inicio</th>
                            <th>Fecha de fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in vehicle.reservations %}
                            <tr>
                                <td>{{ reservation.startDate|date('d-m-Y') }}</td>
                                <td>{{ reservation.endDate|date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay reservas para este vehículo</p>
                {% endif %}

                <div id="available-dates">
                    <h2 class="font-lm-title mb-4">Fechas Disponibles</h2>
                    <form action="{{ path('app_details_vehicle_add_to_cart', {id: vehicle.id}) }}" method="POST" class="d-flex align-items-center">
                        <div class="form-group mb-0 mr-3">
                            <label for="reservationDate" class="mr-2">Seleccione una fecha:</label>
                            <input type="date" class="form-control" id="reservationDate" name="date"
                                   min="{{ "now"|date('Y-m-d') }}"
                                   max="{{ "now"|date_modify('+30 days')|date('Y-m-d') }}">
                        </div>
                        <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
                        <button type="submit" class="btn bg-quaternary-lm btn-normal-hover mx-3 mt-4">Reservar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('images/vehicles/hola/' ~ vehicle.brand.name ~ '_' ~ vehicle.model.name ~ '.jpg') }}"
                     class="card-img-top img-fluid" alt="{{ vehicle.brand.name }} {{ vehicle.model.name }}">
            </div>
        </div>
        <div class="container mt-5" id="specifications">
            <h2>Especificaciones Técnicas</h2>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Motor</th>
                    <td>{{ vehicle.engine }}</td>
                </tr>
                <tr>
                    <th scope="row">Potencia</th>
                    <td>{{ vehicle.power }} CV</td>
                </tr>
                <tr>
                    <th scope="row">Transmisión</th>
                    <td>{{ vehicle.transmission }}</td>
                </tr>
                <tr>
                    <th scope="row">Consumo</th>
                    <td>{{ vehicle.consumption }}</td>
                </tr>
                <tr>
                    <th scope="row">Aceleración 0-100 km/h</th>
                    <td>{{ vehicle.acceleration }} segundos</td>
                </tr>
                </tbody>
            </table>
            <hr class="my-3">
        </div>
    </div>
{% endblock %}
