{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.plate, 'Matrícula') }}
        {{ form_widget(form.plate, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.fuel, 'Carburante') }}
        {{ form_widget(form.fuel, {'attr': {'class': 'form-select'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.color, 'Color') }}
        {{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.price_per_day, 'Precio') }}
        {{ form_widget(form.price_per_day, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.transmission, 'Transmisión') }}
        {{ form_widget(form.transmission, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.provider, 'Proveedor') }}
        {{ form_widget(form.provider, {'attr': {'class': 'form-select'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.engine, 'Motor') }}
        {{ form_widget(form.engine, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.power, 'Potencia') }}
        {{ form_widget(form.power, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.consumption, 'Consumo') }}
        {{ form_widget(form.consumption, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.acceleration, 'Aceleración') }}
        {{ form_widget(form.acceleration, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        {{ form_label(form.description, 'Descripción') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.brand, 'Marca') }}
        {{ form_widget(form.brand, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.model, 'Model') }}
        {{ form_widget(form.model, {'attr': {'class': 'form-select'}}) }}
    </div>
</div>
<div class="col-12 my-2">
    <button type="submit" class="btn btn-success">{{ button_label|default('Guardar') }}</button>
</div>
{{ form_end(form) }}
