{% extends 'base_back.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Vehículos</h1>

    <div class="row g-3 align-items-center font-lm-text">
        <form method="get" role="search" class="col-4">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control form-control-sm" placeholder="Matrícula, color..."
                       name="q"
                       aria-label="Matrícula, combustible, color..." aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1"><button type="submit" class="btn btn-sm"><i
                                class="bi bi-search"></i></button></span>
            </div>
        </form>
    </div>

    <div class="table-responsive font-lm-text">
        <div class="d-flex justify-content-md-end m-3">
            <a href="{{ path('app_vehicle_new') }}" class="btn btn-success">Crear</a>
        </div>
        <table class="table table-striped table-hover border border-1 d-lg-table d-none shadow text-center">
            <thead>
            <tr>
                <th class="d-none">Id</th>
                <th class="bg-quaternary-lm">Marca</th>
                <th class="bg-quaternary-lm">Modelo</th>
                <th class="bg-quaternary-lm">Matrícula</th>
                <th class="bg-quaternary-lm">Carburante</th>
                <th class="bg-quaternary-lm">Color</th>
                <th class="bg-quaternary-lm">Precio</th>
                <th class="bg-quaternary-lm">Transmissión</th>
                <th class="bg-quaternary-lm d-none">Descripción</th>
                <th class="bg-quaternary-lm">Motor</th>
                <th class="d-none">IsDeleted</th>
                <th class="bg-quaternary-lm">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                {% for model in vehicle.brand.model %}
                <tr>
                    <td class="d-none">{{ vehicle.id }}</td>
                    <td data-title="Marca">{{ vehicle.brand.name }}</td>
                    <td data-title="Modelo">{{ model.name }}</td>
                    <td data-title="Matrícula">{{ vehicle.plate }}</td>
                    <td data-title="Carburante">{{ vehicle.fuel }}</td>
                    <td data-title="Color">{{ vehicle.color }}</td>
                    <td data-title="Precio">{{ vehicle.pricePerDay }} €</td>
                    <td data-title="Transmisión">{{ vehicle.transmission }}</td>
                    <td data-title="Motor">{{ vehicle.engine }}</td>
                    <td data-title="Descripción" class="d-none">{{ vehicle.description }}</td>
                    <td class="d-none">{{ vehicle.isDeleted ? 'Si' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}"
                           class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                        <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}"
                           class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>
                        <a href="{{ path('app_vehicle_delete', {'id': vehicle.id}) }}"
                           class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">No se encuentran resultados</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Versió per al mòbil -->

    <div class="accordion accordion-flush d-lg-none text-center" id="accordionFlushExample">
        {% for vehicle in vehicles %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-tertiary-lm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ vehicle.id }}" aria-expanded="true"
                            aria-controls="collapse{{ vehicle.id }}">
                        {{ vehicle.brand.name }}
                        <span class="mx-1">
                            {% for model in vehicle.brand.model %}
                                {{ model.name }}
                            {% endfor %}
                        </span>
                    </button>
                </h2>
                <div id="collapse{{ vehicle.id }}" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body d-flex flex-wrap bg-secondary-lm">
                        <div class="flex-grow-1">
                            <h5>Matrícula</h5>
                            <p>{{ vehicle.plate }}</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Precio</h5>
                            <p>{{ vehicle.pricePerDay }} €</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Motor</h5>
                            <p>{{ vehicle.engine }}</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Reserva</h5>
                            {% if vehicle.reservations|length > 0 %}
                                {% for reservation in vehicle.reservations %}
                                    <p>{{ reservation.status }}</p>
                                    <p>{{ reservation.startDate|date("d/m/Y") }}</p>
                                {% endfor %}
                            {% else %}
                                <p>No hay reservas</p>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1">
                            <h5>Acciones</h5>
                            <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}"
                               class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                            <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}"
                               class="btn btn-secondary"><i class="bi bi-pencil-fill"></i></a>
                            <a href="{{ path('app_vehicle_delete', {'id': vehicle.id}) }}"
                               class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-2">
            <li class="page-item {% if pagination.currentPageNumber == 1 %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber > 1 %}{{ path('app_vehicle_index', {'page': pagination.currentPageNumber - 1}) }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in 1..pagination.pageCount %}
                <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">
                    <a class="page-link" href="{{ path('app_vehicle_index', {'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if pagination.currentPageNumber == pagination.pageCount %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber < pagination.pageCount %}{{ path('app_vehicle_index', {'page': pagination.currentPageNumber + 1}) }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
