{% extends 'base_back.html.twig' %}

{% block title %}Vehículo{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Vehículo</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <tbody>
                <tr class="d-none">
                    <th>Id</th>
                    <td>{{ vehicle.id }}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{ vehicle.brand.name }}</td>
                </tr>
                <tr>
                    <th>Modelo</th>
                    <td>
                        {% for model in vehicle.brand.models %}
                            {{ model.name }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Matrícula</th>
                    <td>{{ vehicle.plate }}</td>
                </tr>
                <tr>
                    <th>Carburante</th>
                    <td>{{ vehicle.fuel }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{ vehicle.color }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>{{ vehicle.pricePerDay }}</td>
                </tr>
                <tr>
                    <th>Disponible</th>
                    <td>{{ vehicle.available ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Puertas</th>
                    <td>{{ vehicle.doors }}</td>
                </tr>
                <tr>
                    <th>Capacidad</th>
                    <td>{{ vehicle.capacity }}</td>
                </tr>
                <tr>
                    <th>Transmisión</th>
                    <td>{{ vehicle.transmission }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ vehicle.description }}</td>
                </tr>
                <tr class="d-none">
                    <th>Category</th>
                    <td>{{ vehicle.category }}</td>
                </tr>
                <tr class="d-none">
                    <th>IsDeleted</th>
                    <td>{{ vehicle.isDeleted ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_vehicle_index') }}" class="btn btn-primary">Volver</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}" class="btn btn-success">Editar</a>

{# {{ include('vehicle/_delete_form.html.twig') }}#}
{% endblock %}
