{% extends 'base_back.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block body %}
    <h1 class="font-lm-title my-3">Empleados</h1>

    <div class="row g-3 align-items-center">
        <form method="get" role="search" class="col-4">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control form-control-sm" name="q" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1"><button type="submit" class="btn btn-sm"><i
                                class="bi bi-search"></i></button></span>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <div class="d-flex justify-content-md-end m-3">
            <a href="{{ path('app_employee_new') }}" class="btn btn-success">Crear</a>
        </div>

        <table class="table table-striped table-hover border border-1 d-lg-table d-none shadow text-center">
            <thead>
            <tr>
                <th class="d-none">Id</th>
                <th class="bg-quaternary-lm">Nombre</th>
                <th class="bg-quaternary-lm">Apellidos</th>
                <th class="bg-quaternary-lm">Email</th>
                <th class="bg-quaternary-lm">Móvil</th>
                <th class="bg-quaternary-lm">Salario</th>
                <th class="bg-quaternary-lm">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td class="d-none">{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.salary }} €</td>
                    <td>
                        <a href="{{ path('app_employee_show', {'id': employee.id}) }}" class="btn btn-primary"><i
                                    class="bi bi-eye-fill"></i></a>
                        <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-secondary"><i
                                    class="bi bi-pencil-fill"></i></a>
                        <a href="{{ path('app_employee_delete', {'id': employee.id}) }}" class="btn btn-danger"><i
                                    class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No se han encontrado resultados</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="accordion accordion-flush d-lg-none text-center" id="accordionFlushExample">
        {% for employee in employees %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-tertiary-lm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ employee.id }}" aria-expanded="true"
                            aria-controls="collapse{{ employee.id }}">
                        Empleado: {{ employee.name }}
                    </button>
                </h2>
                <div id="collapse{{ employee.id }}" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body d-flex flex-wrap bg-secondary-lm">
                        <div class="flex-grow-1">
                            <h5>Apellidos</h5>
                            <p>{{ employee.lastname }}</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Email</h5>
                            <p>{{ employee.email }}</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Móvil</h5>
                            <p>{{ employee.phone }}</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Salario</h5>
                            <p>{{ employee.salary }} €</p>
                        </div>
                        <div class="flex-grow-1">
                            <h5>Acciones</h5>
                            <a href="{{ path('app_employee_show', {'id': employee.id}) }}" class="btn btn-primary"><i
                                        class="bi bi-eye-fill"></i></a>
                            <a href="{{ path('app_employee_edit', {'id': employee.id}) }}" class="btn btn-secondary"><i
                                        class="bi bi-pencil-fill"></i></a>
                            <a href="{{ path('app_employee_delete', {'id': employee.id}) }}" class="btn btn-danger"><i
                                        class="bi bi-trash-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Paginació -->

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-2">
            <li class="page-item {% if pagination.currentPageNumber == 1 %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber > 1 %}{{ path('app_employee_index', {'page': pagination.currentPageNumber - 1}) }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in 1..pagination.pageCount %}
                <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">
                    <a class="page-link" href="{{ path('app_employee_index', {'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if pagination.currentPageNumber == pagination.pageCount %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber < pagination.pageCount %}{{ path('app_employee_index', {'page': pagination.currentPageNumber + 1}) }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
