<aside class="col-sm-2 p-0 collapse d-md-none d-lg-block">
    <nav class="bg-primary-lm min-vh-100">
        <div class="d-flex justify-content-center align-items-center py-3">
            <a href="{{ path('app_default') }}" class="navbar-brand img-fluid"><img src="{{ asset("images/logo_blanc.png") }}" width="60px" alt="Logo"></a>
        </div>
        <ul class="m-0 list-unstyled fs-5 d-flex flex-column text-sm-start text-center font-lm-text">
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_back_office') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-house"></i> Inicio
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_invoice_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-file-earmark"></i> Facturas
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_customer_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-person"></i> Clientes
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_employee_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-file-earmark-person"></i> Empleados
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_reservation_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-calendar"></i> Reservas
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_vehicle_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-car-front-fill"></i> Vehículos
                </a>
            </li>
            <li class="d-flex py-3 ps-sm-5 btn-aside-hover">
                <a href="{{ path('app_provider_index') }}" class="text-decoration-none text-white flex-grow-1">
                    <i class="bi bi-truck"></i> Proveedores
                </a>
            </li>
        </ul>
        <hr class="mt-auto text-white">
        <div class="dropdown d-flex justify-content-center align-items-center pb-4">
            {% if app.user %}
                <button class="btn text-white dropdown-toggle w-75" type="button" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-gear fs-5"></i> {{ app.user.username }}
                </button>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</aside>
