<aside class="col-2 p-0">
    <nav class="bg-tertiary-lm">
        <ul class="m-0 list-unstyled fs-5 d-flex flex-column text-sm-start text-center">
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_back_office') }}" class="text-decoration-none text-white">
                    <i class="bi bi-house"></i> Inici
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-file-earmark"></i> Factures
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-person"></i> Clients
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-file-earmark-person"></i> Empleats
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-calendar"></i> Reserves
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_vehicle_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-car-front-fill"></i> Vehicles
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-truck"></i> Proveïdors
                </a>
            </li>
            <li class="pe-3 py-4 ps-sm-5">
                <a href="{{ path('app_admin_invoice_index') }}" class="text-decoration-none text-white">
                    <i class="bi bi-cart"></i> Comandes
                </a>
            </li>
        </ul>
    </nav>
</aside>
