<header class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-lg w-100 font-lm-text
                {% if app.request.attributes.get('_route') == 'app_catalogue_index' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_login' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_register' %}
                    bg-primary-lm
                {% else %}
                    position-absolute z-2
                {% endif %}">
                <div class="container-fluid">
                    <a class="navbar-brand img-fluid" href="{{ path('app_default') }}"><img
                                src="{{ asset("images/logo5.png") }}" width="40px" alt="Legacy Motors"></a>
                    <button class="navbar-toggler bg-secondary-lm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover rounded"
                                   href="{{ path('app_catalogue_index') }}">Catálogo</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-around w-25">
                            {% if app.user %}
                                <!-- Fer un dropdown amb les opcions per a entrar al back o fer altre login per als treballadors -->
                                <a class="btn bg-tertiary-lm btn-normal-hover" href="#"><i
                                            class="bi bi-person-fill"></i></a>
                                <a class="btn bg-tertiary-lm btn-normal-hover" href="#"><i
                                            class="bi bi-cart-fill"></i></a>
                                <a class="btn bg-quaternary-lm btn-normal-hover" href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                                <a class="btn bg-tertiary-lm" href="{{ path('app_login') }}">Login</a>
                                <a class="btn btn-tertiary-lm" href="{{ path('app_register') }}">Registro</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
