<!-- Cambiar les opcions del header al aside -->
<header class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-lg bg-primary-lm font-lm-text">
                <div class="container-fluid">
                    <a href="{{ path('app_default') }}" class="navbar-brand img-fluid"><img src="{{ asset("images/logo7.png") }}" width="60px" alt="Logo"></a>
                    <button class="navbar-toggler bg-tertiary-lm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-block d-lg-none">
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_back_office') }}"><i class="bi bi-house"></i> Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_invoice_index') }}"><i class="bi bi-file-earmark"></i> Facturas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_customer_index') }}"><i class="bi bi-person"></i> Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_employee_index') }}"><i class="bi bi-file-earmark-person"></i> Empleados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_invoice_index') }}"><i class="bi bi-calendar"></i> Reservas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_vehicle_index') }}"><i class="bi bi-car-front-fill"></i> Vehículos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover"
                                   href="{{ path('app_provider_index') }}"><i class="bi bi-truck"></i> Proveedores</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            {% if app.user %}
<!--                                <a class="btn bg-tertiary-lm me-2" href="#"><i class="bi bi-person-fill"></i></a>
                                <a class="btn bg-tertiary-lm me-2" href="#"><i class="bi bi-house-door-fill"></i></a>-->
                                <a class="btn bg-secondary-lm btn-aside-hover mx-2" href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                                <a class="btn bg-quaternary-lm btn-button-hover me-2" href="{{ path('app_login') }}">Login</a>
                                 {# <a class="btn btn-primary" href="{{ path('app_') }}">Registre</a>#}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
