<header class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-lg w-100 font-lm-text
                {% if app.request.attributes.get('_route') == 'app_catalogue_index' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_login' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_register' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_details_vehicle' %}
                    bg-primary-lm
                {% elseif app.request.attributes.get('_route') == 'app_garage' %}
                    bg-primary-lm
                {% else %}
                    position-absolute z-2
                {% endif %}">
                <div class="container-fluid">
                    <a class="navbar-brand img-fluid" href="{{ path('app_default') }}"><img
                                src="{{ asset("images/logo7.png") }}" width="50px" alt="Legacy Motors"></a>
                    <button class="navbar-toggler bg-secondary-lm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link btn-aside-hover link-light rounded"
                                   href="{{ path('app_catalogue_index') }}">Catálogo</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-around w-25">
                            {% if app.user %}
                                <div class="dropdown">
                                    <a class="btn bg-tertiary-lm btn-button-hover dropdown-toggle" href="#"
                                       role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-person-fill"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li>
                                            <a class="dropdown-item" href="{# {{ path('app_profile') }}#}">Perfil</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{# {{ path('app_orders') }}#}">Mis Órdenes</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                                    </ul>
                                </div>
                                <a class="btn bg-tertiary-lm btn-button-hover" href="{{ path('app_garage') }}"><i
                                            class="bi bi-cart-fill"></i></a>
                            {% else %}
                                <a class="btn bg-tertiary-lm btn-button-hover" href="{{ path('app_login') }}">Login</a>
                                <a class="btn bg-tertiary-lm btn-button-hover" href="{{ path('app_register') }}">Registro</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
