<!-- Cambiar les opcions del header al aside -->
<header class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-lg bg-primary-lm">
                <div class="container-fluid">
                    <a class="navbar-brand img-fluid" href="{{ path('app_default') }}"><img src="{{ asset("images/logo.png") }}" width="50px" height="50px" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {# <li class="nav-item">
                                <a class="nav-link link-light btn-normal-hover" href="{{ path('app_catalogue_index') }}">Catàleg</a>
                            </li>#}
                        </ul>
                        <div class="d-flex">
                            {% if app.user %}
                                <a class="btn bg-tertiary-lm me-2" href="#"><i class="bi bi-person-fill"></i></a>
                                <a class="btn bg-tertiary-lm me-2" href="#"><i class="bi bi-house-door-fill"></i></a>
                                <a class="btn btn-outline-primary me-2" href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                                <a class="btn btn-outline-primary me-2" href="{{ path('app_login') }}">Login</a>
                                {# <a class="btn btn-primary" href="{{ path('app_') }}">Registre</a> #}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
