{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.state, 'Estado') }}
        {{ form_widget(form.state, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.customer, 'Cliente') }}
        {{ form_widget(form.customer, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.invoice, 'Factura') }}
        {{ form_widget(form.invoice, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-12 my-2">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    </div>
</div>
{{ form_end(form) }}
