{% extends 'base.html.twig' %}

{% block title %}Catálogo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start">
                    <h1 class="font-lm-title my-4">Catálogo</h1>
                </div>
                <form method="get" role="search">
                    <div class="d-flex justify-content-center my-3">
                        <input name="q" type="search" class="rounded-start-pill border border-secondary-subtle ps-3 w-50"
                               placeholder="Buscar..." aria-label="Search">
                        <button type="submit" class="border border-0 rounded-end-pill p-2 pe-3 bg-tertiary-lm btn-normal-hover"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if q %}
        <div class="d-flex justify-content-center align-items-center gap-2">
            <h4 class="font-lm-title">Resultado de: {{ q }}</h4>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-12 col-lg-6">
                    <div class="card w-100 m-3">
                        <img src="{{ asset('images/vehicles/hola/' ~ vehicle.brand.name ~ '_' ~ vehicle.model.name ~ '.jpg') }}"
                             class="card-img-top img-fluid" alt="{{ vehicle.brand.name }} {{ vehicle.model.name }}">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <a href="{{ path('app_details_vehicle', {'id': vehicle.id }) }}"
                                   class="link-offset-2 link-underline link-underline-opacity-0">
                                    {{ vehicle.brand.name }} {{ vehicle.model.name }}
                                </a>
                            </h4>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-text text-center">Precio</h5>
                                    <p class="card-text text-center fs-6 fs-md-5">{{ vehicle.pricePerDay }} € / dia</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="card-text text-center">Motor</h5>
                                    <p class="card-text text-center">{{ vehicle.engine }}</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="card-text text-center">Carburante</h5>
                                    <p class="card-text text-center fs-6 fs-md-5">{{ vehicle.fuel }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-2">
            <li class="page-item {% if pagination.currentPageNumber == 1 %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber > 1 %}{{ path('app_catalogue_index', {'page': pagination.currentPageNumber - 1}) }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in 1..pagination.pageCount %}
                <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">
                    <a class="page-link" href="{{ path('app_catalogue_index', {'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if pagination.currentPageNumber == pagination.pageCount %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber < pagination.pageCount %}{{ path('app_catalogue_index', {'page': pagination.currentPageNumber + 1}) }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
