{% extends 'base.html.twig' %}

{% block title %}Catálogo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start">
                    <h1 class="font-lm-title my-3">Catálogo</h1>
                </div>
                <form method="get" role="search">
                    <div class="d-flex justify-content-center my-3">
                        <input name="q" type="search" class="rounded-start-pill border border-secondary-subtle ps-3"
                               placeholder="Buscar..." aria-label="Search">
                        <button type="submit" class="border border-0 rounded-end-pill p-2"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if q %}
        <h2>Mostrando el resultado de: {{ q }}</h2>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-sm-12 col-md-6">
                    <div class="card w-100 m-3">
                        {#{% for image in vehicle.images %}#}
                            <img src="{{ asset('images/vehicles/porsche911.jpg') }}" class="card-img-top img-fluid" alt="{{ vehicle.brand.name }}">
                        {#{% endfor %}#}
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <a href="{{ path('app_details_vehicle', {'id': vehicle.id }) }}" class="link-offset-2 link-underline link-underline-opacity-0">
                                    {{ vehicle.brand.name }}
                                    {% for model in vehicle.brand.model %}
                                        {{ model.name }}
                                    {% endfor %}
                                </a>
                            </h4>
                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-text text-center">Precio</h5>
                                    <p class="card-text text-center fs-6">{{ vehicle.pricePerDay }} € / dia</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="card-text text-center">Motor</h5>
                                    <p class="card-text text-center fs-6">{{ vehicle.engine }}</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="card-text text-center">Carburante</h5>
                                    <p class="card-text text-center fs-6">{{ vehicle.fuel}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    {#{% if not vehicle.available %}
                                        <button class="btn bg-quaternary-lm m-2" disabled>Reservado</button>
                                    {% else %}
                                        <a class="btn bg-quaternary-lm m-2" href="{{ path('app_catalogue_add_vehicle', {'id': vehicle.id })}}">Reservar</a>
                                    {% endif %}#}
                                    <a class="btn bg-quaternary-lm m-2" href="{{ path('app_catalogue_add_vehicle', {'id': vehicle.id })}}">Reservar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-2">
            <li class="page-item {% if pagination.currentPageNumber == 1 %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber > 1 %}{{ path('app_catalogue_index', {'page': pagination.currentPageNumber - 1}) }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in 1..pagination.pageCount %}
                <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">
                    <a class="page-link" href="{{ path('app_catalogue_index', {'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if pagination.currentPageNumber == pagination.pageCount %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if pagination.currentPageNumber < pagination.pageCount %}{{ path('app_catalogue_index', {'page': pagination.currentPageNumber + 1}) }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
